In [1]:
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db_url = 'postgresql+psycopg2://postgres:postgres@localhost:5432/postgres'
engine = create_engine(db_url)
with engine.connect() as connection:
    print('Connection established')

Connection established

In [3]:
for file_name in os.listdir('GTFS'):
    if file_name.endswith('.txt'):
        # table_name = file_name.split('.')[0]
        table_name = f"home_{file_name.split('.')[0]}"
        print(f'Loading {table_name}')
        df = pd.read_csv(f'GTFS/{file_name}')
        df.to_sql(table_name, engine, if_exists='append', index=False)

Loading home_transfers
Loading home_agency
Loading home_calendar_dates
Loading home_stop_times
Loading home_shapes
Loading home_trips
Loading home_feed_info
Loading home_stops
Loading home_calendar
Loading home_routes

In [5]:
all_tables = {}
for file_name in os.listdir('GTFS'):
    if file_name.endswith('.txt'):
        table_name = f"home_{file_name.split('.')[0]}"
        all_tables[table_name] = pd.read_csv(f'GTFS/{file_name}', sep=',', low_memory=False)

In [6]:
all_tables['routes'].head()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,244,NaN,A39,Zaczarnie - Brzozówka - Tarnów-A39,NaN,3,NaN,000000,F5F5F5
1,315,NaN,A38,Tarnów - Lisia Góra - Nowa Jastrząbka-A38,NaN,3,NaN,000000,F5F5F5
2,161,NaN,A27,Zawada - Tarnów-A27,NaN,3,NaN,000000,F5F5F5
3,233,NaN,A28,Tarnów - Poręba Radlna - Piotrkowice p. Łękawk...,NaN,3,NaN,FAC08F,282828
4,167,NaN,A29,Tarnów - Zgłobice - Tarnów-A29,NaN,3,NaN,000000,F5F5F5

In [7]:
'test.txt'.split('/')[-1].split('.')[0]

'test'